*.pyc
*.pdf
*.log
*.lock
*feedback.csv
*duration*.csv
*df*.csv
src/blog_data/*/images/*.png
src/blog_data/*/images/*.jpg
run-scripts/gcloud-env.sh
run-scripts/gcloud-setup.sh
src/static/png/comp/*
src/static/png/generic/*
src/static/csv/generic/duration*.csv
src/static/csv/generic/durationMensSinglesCompetitive2023.csv
src/static/csv/generic/durationWomensSinglesOpen2023.csv
src/static/csv/generic/PacingTable*.csv
