*.pyc
*.pdf
*.log
*.lock
*feedback.csv
*duration*.csv
*df*.csv
src/blog_data/*/images/*.png
src/blog_data/*/images/*.jpg
run-scripts/gcloud-env.sh
run-scripts/gcloud-setup.sh
src/static/png/comp/*
src/static/png/generic/*
src/static/pdf/comp/*.html
src/static/csv/generic/*.csv
