{% extends "base.html" %}

{% block title %}Home | Redline Fitness Games{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Welcome to Redline Fitness Games Results Explorer</h2>
    <p>
        This site provides a searchable and interactive view of the results from the Redline Fitness Games, 
        covering both the 2023 and 2024 events. Data has been collected directly from the official timing provider, 
        and organized for ease of browsing, filtering, and visual exploration. More details on the <a href="/about">About</a> page.
    </p>
    <p>
        Use our <a href="/search">Redline Competitor Search</a> page to quickly find individual competitors by name, 
        or Head to the <a href="/results">Filtered Event Results</a> section to filter by event, year, gender, category, or location.
    </p>

    <h4>Feedback</h4>
    <p>
        If you have any feedback, suggestions, comments or questions of any kind, please use the <a href="/feedback">Feedback</a> page.
    </p>    

    <h3>Samples of what you can expect from this site, Sorry its all very nerdy!</h3>

    {%for i in range(0, pngListLen)%} 
  
    <div>
        <br>
        <h5>{{str_list[i]}}</h5>
        <img src="{{ png_files[i] }}" width="80%" border="1">
        </br>
    </div>

    {%endfor%} 

</div>
{% endblock %}
