<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redline Fitness Results</title>
    {% block head %}{% endblock %}
    <style>
        nav {
            background-color: pink;
            padding: 10px;
        }
        nav a {
            margin: 0 15px;
            text-decoration: none;
            color: #333;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/search">Search</a>
        <a href="/results">Results</a>
        <a href="/about">About</a>

    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
    {% block script %}{% endblock %}
</html>