{% extends "base.html" %}

{% block title %}Display Visualisation | Redline Fitness Games{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="mb-4">You have selected the following: </h2> 
    <p><strong>Competitor: {{ competitor | default("No competitor passed", true) }}, No: {{ race_no | default("No race_no passed", true) }}</strong></h4>
    <p><strong>Event: {{ description | default("No description passed", true) }} </strong></h4>
    <br>
    <form method="POST" id="optionForm" onsubmit="showLoading()">
        <h3> So one more questions left... How do you want to access the info?:</h3>
        <label>
            <input type="radio" name="output_format" value="html" {% if selected_format == 'html' %}checked{% endif %}>
            Displayed on this webpage (HTML)
        </label><br>
        <label>
            <input type="radio" name="output_format" value="file" {% if selected_format == 'file' %}checked{% endif %}>
            Downloaded as file (pdf)
        </label>
    
        <br>
        <input type="submit" id="submitBtn" value="Generate" disabled>
        <br>
    </form>

<!-- This shows the loading message -->
<div id="loading-message" style="display:none; font-weight: bold; color: darkblue; margin-top: 10px;">
    <strong></strong>Processing... please be patient!<strong>
</div>

{% if selected_format %}
    <br>
    <div>
        {{ htmlString | safe }}
    </div>

    {% for png_file in png_files %}
    <div>
        <img src="{{ png_file }}" width="800">
    </div>
    {% endfor %}

{% endif %}
</div>
{% endblock %}


{% block script %}
    <script>
        const form = document.getElementById('optionForm');
        const submitBtn = document.getElementById('submitBtn');

        function checkRadios() {
            const formatSelected = form.querySelector('input[name="output_format"]:checked');
            submitBtn.disabled = !(formatSelected);
        }

        // Check initial state in case some radios are pre-selected
        checkRadios();

        form.querySelectorAll('input[type="radio"]').forEach(radio => {
            radio.addEventListener('change', checkRadios);
        });

        function showLoading() {
            document.getElementById('loading-message').style.display = 'block';
        }

    </script>
{% endblock %}