{% extends "base.html" %}

{% block title %}Home | Redline Fitness Games{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Welcome to Redline Fitness Games Results Explorer</h2>
    <p>
        This site provides a searchable and interactive view of the results from the Redline Fitness Games, 
        covering both the 2023 and 2024 events. Data has been collected directly from the official timing provider, 
        and organized for ease of browsing, filtering, and visual exploration.
    </p>

    <p>
        Use the <strong>Search</strong> page to quickly find individual competitors or events by name, 
        or head to the <strong>Results</strong> section to filter by year, gender, category, or location.
    </p>

    <p>Try our <a href="/search">Redline competitor search</a> or view <a href="/results">filtered event results</a> by year and category.</p>

    
    <p>
        The original race result pages are available from <a href="https://runnersunite.racetecresults.com/" target="_blank">Racetec Results</a>, 
        and the official Redline Fitness Games website can be found at 
        <a href="https://redlinefitnessgames.com/" target="_blank">redlinefitnessgames.com</a>.
    </p>

    <p class="text-muted">
        This site was created by a 2024 participant who’s already signed up for the 2025 competition. 
        The author of this site has no official connection to Redline Fitness Games and developed this tool as a personal project.
    </p>

    <h4>Feedback</h4>
    <p>
        If you have any feedback or suggestions, please use the <a href="/feedback">Feedback</a> page.
    </p>    

    <h3>Samples of what you can expect from this site</h3>

    {%for i in range(0, pngListLen)%} 
  
    <div>
        <br>
        <h5>{{str_list[i]}}</h5>
        <img src="{{ png_files[i] }}" width="80%" border="1">
        </br>
    </div>

    {%endfor%} 

</div>
{% endblock %}
