<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redline Results Visualisation</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <h1>Redline Results Visualisation</h1>

    <div id='searchui'>
      <h2 style="text-align: left">Enter Competitor name in search bar:-</h2>

      <form id="newSearchForm" class="border" >
          <label for="competitorToSearch">Competitor Name</label>
          <input type="text" id="competitorToSearch" name="competitor" placeholder="Joe Bloggs" style="width: 295px">
          <button type="submit" value="Submit" id="newSearch">Search for Competitor...</button>
      </form>

      <div id='searchDetail'  hidden>
          <p id='SearchResults'>Click on individual results to get more detils:</p>
      </div>
      
      <div id='display' class='border' hidden></div>
      
      <div id='searchCandidate' class='border'  style="display:none;" >
          <p id='candidateData' style="display:none;" >This is the selected competitor:</p>
          <button id='clearSearch' style="display:none;" >Clear Search...</button>
      </div>
      

      {% block content %}
      <p>DEBUG: show_plot = "{{ show_plot }}" (type: {{ show_plot.__class__.__name__ }})</p>
      {% if show_plot == "TRUE" %}
      <div id='plot_urls'><p>I am showing the plot, {{ show_plot }}</p></div>
      <img src='static/wrong/MensSinglesCompetitive2024Corr.png'/>
      {% elif show_plot == "FALSE" %}
      <div id='plot_urls'><p>I am not showing the plot, {{ show_plot }}</p></div>
      {% else %}
      <div id='plot_urls'><p>There is no plot, {{ show_plot }}</p></div>
      {% endif %}
      {% endblock %}

  </body>
</html>

<script>
  let items = [];
  let itemsRaw = [];

  $(document).ready(function() {
    console.log('Fetching initial search data...');
    $.getJSON('/api/search', function(data) {

      itemsRaw = data;
      if (data === 'No matches found') {
        return;
      }
      
      console.log('Initial data received:', data);

      $('#searchDetail').show();
      $('#display').show();

      $.each(data, function(i, val) {
        items.push('<li class="competitorItem" id="' + i + '" style="color:blue; cursor:pointer;">' +
          val.event + ' - ' + val.year + ' - ' + val.competitor + ' - ' + val.race_no + '</li>');
        return i !== 14;
      });

      if (items.length >= 15) {
        items.push('<p style="color:red;">...and ' + (data.length - 15) + ' more!</p>');
      }

      $('<ul/>', {
        'class': 'listWrapper',
        html: items.join('')
      }).appendTo('#display');
    });

    $('#display').on('click', 'li.competitorItem', function() {
      console.log('Competitor item clicked:', this.id);

      $.getJSON('/api/search/' + itemsRaw[this.id].competitor  + '&' + itemsRaw[this.id].year + '&' + itemsRaw[this.id].race_no + '&' + itemsRaw[this.id].event, function(data) {
        console.log('Detailed data received for competitor:', data);
      });

      $('<p style="color:green;">' + itemsRaw[this.id].event + ' - ' + itemsRaw[this.id].year + ' - ' + itemsRaw[this.id].competitor + ' - ' + itemsRaw[this.id].race_no + '</p>').appendTo('#candidateData');

      $('#searchDetail, #display').hide();
      $('#searchCandidate, #candidateData, #clearSearch, #plot_urls').show();
      //location.reload(); // Refresh to trigger GET call again
    });

    $('#clearSearch').on('click', function() {
      console.log('Clicked clear Search button:', this.id);

      $.ajax({
        url: '/api/search/',
        type: 'DELETE',
        success: function(data) {
          console.log('Clear success:', data);
          $('#searchDetail, #display, #searchCandidate, #candidateData, #clearSearch').hide();
          //location.reload(); // Refresh to trigger GET call again
        }
      });
    });

    $('#newSearch').on('click', function() {
      console.log('Clicked new search button');
      $.ajax({
        url: '/api/search',
        type: 'POST',
        dataType: 'json',
        data: $('#newSearchForm').serialize(),
        success: function(data) {
          console.log('New search form success:', data);
          //location.reload(); // Refresh to trigger GET call again
        }
      });
    });
  });
</script>

